body {
    background-color: #f6f7fc;
}

.container {
    margin: 0 auto;
    padding: 0 5%;
    /* max-width: 1300px; */
    min-width: 300px;
    display: flex;
    justify-content: space-between;
    font-family: Arial, Helvetica, sans-serif;
}




