@keyframes slideInFromTop {
  0% {
    transform: translateY(-50px);
    -webkit-transform: translateY(-50px);
    -moz-transform: translateY(-50px);
    -ms-transform: translateY(-50px);
    -o-transform: translateY(-50px);
  }

  100% {
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
  }
}

.header {
  width: 100%;
  height: 50px;
  position: fixed;
  top: 0px;
  left: 0;
  background-color: #fffeff;
  border-bottom: 1px solid rgb(226, 226, 226);
  animation: 1s ease-out 0s 1 slideInFromTop;
  -webkit-animation: 1s ease-out 0s 1 slideInFromTop;
  z-index: 999;
}

.header_elements {
  height: 50px;
}

.header_button_container {
  display: inline-block;
  width: 50px;
  height: 100%;
  vertical-align: middle;
  box-sizing: border-box;
}

.header_button_container>input[type="checkbox"] {
  display: none;
}

.header_buttons {
  display: block;
  border: none;
  background-color: inherit;
  outline: none;
  color: #bec9da;
  padding: 6px;
  margin: 4px;
  font-size: 26px;
  text-align: center;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.header_buttons:hover {
  filter: brightness(85%);
  -webkit-filter: brightness(85%);
}

.header_buttons:active {
  filter: brightness(75%);
  -webkit-filter: brightness(75%);
}

.header_avatar_dropdown {
  position: relative;
  margin-top: 5px;
  margin-left: -100px;
  padding: 20px;
  right: 0;
  min-width: 100px;
  height: auto;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: none;
  text-align: center;
  font-size: 18px;
}

.header_avatar_dropdown>span {
  display: block;
  color: silver;
  border-bottom: 2px solid silver;
  padding-bottom: 5px;
}

.header_avatar_dropdown>a {
  display: block;
  color: black;
  padding: 5px;
  text-decoration: none;

  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}

.header_avatar_dropdown>a:hover {
  background-color: rgb(234, 235, 234);
}

#avatar_checker:checked~.header_avatar_dropdown {
  display: block;
  z-index: 9999;
}

#notification_checker:checked~.header_avatar_dropdown {
  display: block;
  z-index: 9999;
}

#header_avatar {
  color: white;
  background-color: #f8991c;
}

#avatar_checker {
  display: none;
}

#logo img {
  height: 100%;
  font-weight: 24px;
}
