.notification {
  width: 300px;
  opacity: 0.5;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 99999;
  color: white;
}

.notification>div {
  margin-bottom: 5px;
  padding: 10px;
  display: flex;
  height: 100%;
  align-items: center;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}

.notification i {
  margin: auto 0;
}

.notification p {
  margin: 0 5px 5px 15px;
}

.notification>.error {
  
  background-color: red;
  border: 1px solid red;
}

.notification>.success {
  background-color: rgb(45, 179, 45);
  border: 1px solid rgb(7, 204, 57);
}

.notification>.warning {
  background-color: rgb(209, 212, 25);
  border: 1px solid rgb(231, 209, 5);
}