.wrapper {
  margin-top: 80px;
  min-height: 80vh;
  display: grid;
  align-self: stretch;
  grid-template-columns: 25% 25% 30% 20%;
  grid-template-rows: repeat(10, 8vh);
  z-index: 99;
}

.plates {
  transform-style: preserve-3d;
  box-sizing: border-box;
  display: inline-block;
}

.front {
  position: absolute;
  display: flex;
  height: 100%;
  width: 100%;
  font-size: 10vh;
  align-items: center;
  vertical-align: top;
  overflow: hidden;
}

.back {
  height: 100%;
  width: 100%;
  font-size: 24px;
  align-items: center;
  background-color: white;
  box-sizing: border-box;
  overflow: auto;
  color: black;
}

.back p {
  display: block;
  margin: 0;
  overflow-y: auto;
  height: 100%;
}

.front span {
  margin: 0 auto;
}

.binary_plate {
  grid-column: 1;
  grid-row: 1 / 6;
}

.binary_plate>.front {
  background-color: white;
}

.binary_plate>.front>svg {
  margin: 0 auto;
}

.binary_plate>.back {
  text-align: center;
  transform: rotateX(180deg);
  -webkit-transform: rotateX(180deg);
  -moz-transform: rotateX(180deg);
  -ms-transform: rotateX(180deg);
  -o-transform: rotateX(180deg);
}

.binary_plate>.back>a {
  display: inline-block;
  padding: 0.35em 1.2em;
  border: 0.1em solid #708be2;
  margin: 20% 0.3em 0.3em 0;
  border-radius: 0.12em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Roboto',
    sans-serif;
  font-weight: 100;
  color: #708be2;
  text-align: center;
  transition: all 0.2s;
}

.binary_plate>.back>a:hover {
  color: #5b6997;
  background-color: #FFFFFF;
}

.binary_plate:hover>.front {
  transition-duration: 1s;
  transform: rotateX(-180deg);
  -webkit-transform: rotateX(-180deg);
  -moz-transform: rotateX(-180deg);
  -ms-transform: rotateX(-180deg);
  -o-transform: rotateX(-180deg);
}

.binary_plate:hover .back {
  transition-duration: 1s;
  transform: rotateX(0deg);
  -webkit-transform: rotateX(0deg);
  -moz-transform: rotateX(0deg);
  -ms-transform: rotateX(0deg);
  -o-transform: rotateX(0deg);
}

.js_plate {
  grid-column: 2;
  grid-row: 1 / 8;
  font-weight: 800;
}

.js_plate>.front span {
  margin: auto 0 0 auto;
}

.js_plate>.front {
  background-color: #f5c75e;
}

.js_plate>.back {
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
}

.js_plate:hover>.front {
  transition-duration: 1s;
  transform: rotateY(-180deg);
  -webkit-transform: rotateY(-180deg);
  -moz-transform: rotateY(-180deg);
  -ms-transform: rotateY(-180deg);
  -o-transform: rotateY(-180deg);
}

.js_plate:hover .back {
  transition-duration: 1s;
  transform: rotateY(0deg);
  -webkit-transform: rotateY(0deg);
  -moz-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  -o-transform: rotateY(0deg);
}

.php_plate {
  grid-column: 3 / 5;
  grid-row: 1 / 5;
  font-style: italic;
}

.php_plate>.front {
  background-color: #7c87b7;
  transition: width 0.25s, height 0.25s;
  -webkit-transition: width 0.25s, height 0.25s;
  -moz-transition: width 0.25s, height 0.25s;
  -ms-transition: width 0.25s, height 0.25s;
  -o-transition: width 0.25s, height 0.25s;
}

.php_plate:hover .front {
  width: 0px;
  height: 0px;
  transition: width 0.25s,
    height 0.25s;
  -webkit-transition: width 0.25s,
    height 0.25s;
  -moz-transition: width 0.25s,
    height 0.25s;
  -ms-transition: width 0.25s,
    height 0.25s;
  -o-transition: width 0.25s,
    height 0.25s;
}

.qa_plate {
  grid-column: 1;
  grid-row: 6 / 11;
  color: white;
}

.qa_plate>.front {
  background-color: #47b66b;
  transform: translate(0%, 0%);
  -webkit-transform: translate(0%, 0%);
  -moz-transform: translate(0%, 0%);
  -ms-transform: translate(0%, 0%);
  -o-transform: translate(0%, 0%);
}

.qa_plate:hover .front {
  width: 0;
  height: 0;
  transition-duration: 0.5s;
  transform: translate(100%, -100%);
  -webkit-transform: translate(100%, -100%);
  -moz-transform: translate(100%, -100%);
  -ms-transform: translate(100%, -100%);
  -o-transform: translate(100%, -100%);
}

.java_plate {
  grid-column: 2;
  grid-row: 8 / 11;
  color: white;
}

.java_plate>.front {
  background-color: #db2441;
  transition: height 0.25s;
  -webkit-transition: height 0.25s;
  -moz-transition: height 0.25s;
  -ms-transition: height 0.25s;
  -o-transition: height 0.25s;
}

.java_plate:hover>.front {
  height: 0;
  background-color: #db2441;
  transition: height 0.25s;
  -webkit-transition: height 0.25s;
  -moz-transition: height 0.25s;
  -ms-transition: height 0.25s;
  -o-transition: height 0.25s;
}

.dotnet_plate {
  grid-column: 3;
  grid-row: 5 / 11;
  color: white;
}

.dotnet_plate>.front {
  background-color: #581c6a;
}

.dotnet_plate:hover>.front {
  transition-duration: 0.5s;
  transform: scale(1, 0);
  -webkit-transform: scale(1, 0);
  -moz-transform: scale(1, 0);
  -ms-transform: scale(1, 0);
  -o-transform: scale(1, 0);
}

.info span {
  font-size: 4vh;
}

.events_plate {
  grid-column: 4;
  grid-row: 5 / 7;
}

.events_plate>.front {
  background-color: #2a8eff;
  transition: width 0.25s,
    height 0.25s;
  -webkit-transition: width 0.25s,
    height 0.25s;
  -moz-transition: width 0.25s,
    height 0.25s;
  -ms-transition: width 0.25s,
    height 0.25s;
  -o-transition: width 0.25s,
    height 0.25s;
}

.events_plate>.front {
  background-color: #2a8eff;
  transition: width 0.25s,
    height 0.25s;
  -webkit-transition: width 0.25s,
    height 0.25s;
  -moz-transition: width 0.25s,
    height 0.25s;
  -ms-transition: width 0.25s,
    height 0.25s;
  -o-transition: width 0.25s,
    height 0.25s;
}

.events_plate:hover>.front {
  height: 0;
  width: 0;
  transition: width 0.25s,
    height 0.25s;
  -webkit-transition: width 0.25s,
    height 0.25s;
  -moz-transition: width 0.25s,
    height 0.25s;
  -ms-transition: width 0.25s,
    height 0.25s;
  -o-transition: width 0.25s,
    height 0.25s;
}

.blog_plate {
  grid-column: 4;
  grid-row: 7 / 9;
}

.blog_plate>.front {
  background-color: #043a9a;
  transition: height 0.25s;
  -webkit-transition: height 0.25s;
  -moz-transition: height 0.25s;
  -ms-transition: height 0.25s;
  -o-transition: height 0.25s;
}

.blog_plate:hover>.front {
  height: 0;
  background-color: #043a9a;
  transition: height 0.25s;
  -webkit-transition: height 0.25s;
  -moz-transition: height 0.25s;
  -ms-transition: height 0.25s;
  -o-transition: height 0.25s;
}

.contacts_plate {
  grid-column: 4;
  grid-row: 9 / 11;
}

.contacts_plate>.front {
  background-color: #022156;
}

.contacts_plate:hover>.front {
  transition-duration: 0.5s;
  transform: scale(1, 0);
  -webkit-transform: scale(1, 0);
  -moz-transform: scale(1, 0);
  -ms-transform: scale(1, 0);
  -o-transform: scale(1, 0);
}

@media screen and (max-width: 900px) {

  .wrapper {
    margin-top: 80px;
    min-height: auto;
    display: grid;
    align-self: stretch;
    grid-template-columns: repeat(20, 1fr);
    grid-template-rows: repeat(10, 8vh);
    z-index: 99;
  }

  .binary_plate {
    grid-column: 1/8;
    grid-row: 1 / 5;
  }

  .js_plate {
    grid-column: 8/16;
    grid-row: 1 / 5;
  }

  .php_plate {
    grid-column: 11 / 21;
    grid-row: 5 / 8;
  }

  .qa_plate {
    grid-column: 1/11;
    grid-row: 8 / 11;
  }

  .java_plate {
    grid-column: 1/11;
    grid-row: 5 / 8;
  }

  .dotnet_plate {
    grid-column: 11/21;
    grid-row: 8 / 11;
  }

  .events_plate {
    grid-column: 16/21;
    grid-row: 1 / 3;
  }

  .blog_plate {
    grid-column: 16/21;
    grid-row: 3 / 4;
  }

  .contacts_plate {
    grid-column: 16/21;
    grid-row: 4 / 5;
  }

}